{# Inter/src/ALC/InterBundle/Resources/views/Inter/deletesite.html.twig #}

{% extends "ALCInterBundle::layout.html.twig" %}

{% block alcinter_body %}

  <h2>Suppresion de l'annonce</h2>
 
 <p>
    Etes-vous certain de vouloir supprimer le site "{{ site.adresse }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('alc_inter_deletesite', {'id': site.id}) }}" method="post">
    <a href="{{ path('alc_inter_gestsite') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des sites
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
    
{% endblock %}

        


