{# Inter/src/ALC/InterBundle/Resources/views/Inter/modinter.html.twig #}

{% extends "ALCInterBundle::layout.html.twig" %}

{% block alcinter_body %}

  <h2>Ajout d'une inter</h2>

  <div class="well">
  {{ form(form) }}
</div>

  
<p>
    <a href="{{ path('alc_inter_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    
   
  </p>
{% endblock %}

        


